@using System.Collections
@model IEnumerable<Car>
@{
    Layout = "_Admin";
}
<div class="admin-all">
    <h2>Cars</h2>

    <p>
        <a asp-action="CreateCar">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Model)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Modifcn)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.StarterPrice)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modifcn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StarterPrice)
                </td>
                <td>
                    <a asp-action="EditCar" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>